
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
nav {
  position: fixed;
}
.header-content{
  position: relative;
  bottom: 40px;
}
@media screen and (max-width:1024px){
  .header-content{
    width: 1500px;
    font-size: 30px;
  }
}
 .top{
  position: fixed;
  width: 100%
}
@media screen and (max-width:1024px){
  .top{
    width: 1480px;
    font-size: 30px;
  }
}
.top {
  display: flex;
  background-color: #E4572E;
  border: 10px solid #E4572E;
}
.top-left {
  margin-left: 900px;
}

.A {
  position: relative;
  bottom:10px; left:5px;
  border: 1px solid #E4572E;
  background-color: #E4572E;
}
.top-right p {
  margin-left: 40px;
  margin-top: -5px;
  color: white;
}

 .menu {
   display: flex;
   background-color: black;
   height:50px;
   margin-top: 40px;
}
@media only screen and (max-width:1024px) {
  .menu {
    width: 1460px;
  }
}
.menu li {
  list-style: none;
  margin: 10px;
  color: white;
}

.menu li a{
  color: #fff;
  text-decoration: none;

}
.menu li a:hover {
  color: #E4572E;
}
.logo {
  margin-left: 1243px;
  position: relative;
  bottom:55px;
}
.header-content {
  background-image:url(../img/pic.jpeg);
  height:100vh;
  background-size: cover;
  background-position: center;
  height: 100%;
}

 /* .const{
  display: flex;
} */
 /* @media screen and (max-width: 1024px){
  .const{
    width: 1500px;
    font-size: 30px;
  }
} */
 /* .builders{
  display: flex;
} */
 /* @media screen and (max-width: 1024px){
  .builders{
    width: 1500px;
    font-size: 30px;
  }  */
}
.heading h2 {
  font-size: 15px;
}
@media screen and (max-width: 1024px){
  .heading h2{
    font-size: 30px;
  }
}
.heading h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.heading p {
  margin-top: 20px;
}
.heading {
  color: white;
  width:500px;
  margin-left: 200px;
  padding-top: 220px;
}
#button {
  border: 2px solid white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  background-color: transparent;
  color:white;
  margin-left: 10px;
  margin-top: 20px;
}

.content {
  display: flex;
}
.move{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.four4 {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  margin-bottom: -450px;
  margin-right: 30px;
  padding-bottom: 5px;
}
.one1 {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding-bottom: 10px;
  color: white;
}
.two2 {
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
  border-left: 100px;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 10px;
}
.three3 {
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding-top: 20px;
  color: white;
  padding-bottom: 50px;
}
.form {
  margin-left: 100px;
  background-color: rgba(0,0,0,0.3);
  width:300px;
  padding-left: 40px;
  padding-top: 200px;
  padding-bottom: 375px;
}

#btn {
  margin-left: 20px;
  padding: 5px;
  border: 2px solid white;
  padding-left: 110px;
  padding-right: 110px;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  margin-top: 20px;
}


.columns {
  display: flex;
  height: 350px;
}
@media screen and (max-width:1024px){
  .columns{
    width: 1500px;
  }
}
 .columns img {
  margin-left: 120px;
}
.columns h3 {
  margin-left: 100px;
  color: white;
}
.columns p {
  color: white;
  margin-left: 50px;

}
 .column-1 {
  background-color: #E4572E;
  padding-top: 50px;
}
.column-2 {
  background-color: black;
  padding-top: 50px;
}
.column-3 {
  background-color: #E4572E;
  padding-top: 80px;
}
.column-3 img {
  margin-left: 150px;
}
.column-3 h3 {
  margin-left: 140px;
}
.column-4 {
  background-color: black;
  padding-top: 50px;
}
.images {
  display: flex;
}
.images h2 {
  font-size: 10px;
  /* position: relative;
  right:25px; */
}
 .images img, h2 {
  margin: 15px;
}
.six {
  display: flex;

  width:100%;
  height: 200px;
}
.seven {
  display: flex;

  width:100%;
  height: 200px;
}
.pix {
  display: flex;

  width:100%;
  height: 200px;
}

#section-one {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}
 /* @media screen and (max-width:1500px){
 #section-one{
    width: 1900px;
  }
}  */
#section-two {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media screen and (max-width:1024px) {
  #section-two{
    width: 1500px;
  }
}
.pictures {
  margin-left: 130px;
  width: 50%;
  height: 597px;
}
@media screen and (max-width:1024px){
  .pictures{
    width: 1500px;
  }
}
.paragragh {
  margin-left: 200px;
  width: 50%;
  margin-top: -200px;
  height: 500px;
}
@media screen and (max-width:1024px){
  .paragragh{
    width: 1500px;
    font-size: 20px;
  }
}
.paragragh p {
  margin-top: 20px;
}

.paragraph h3 {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.paragragh h3{
  font-size: 25px;
}
.paragragh h4{
  font-size: 15px;
  margin-top: 100px;
}

.LN {
  width: 22%;
  height: 2px;
  background-color: #E4572E;
  margin-top: 30px;
  margin-left: -810px;
}

#section-three {
  display: flex;
}
@media screen and (max-width:1024px){
  #section-three{
    width: 1500px;
    font-size: 20px;
  }
}
.embed {
  /* position: relative;
  top: 50px; */
}
.wrapper {
  display: flex;
  width: 100%;
  height: 300px;
}

.got {
  background-color: #E4572E;
  display: flex;
  width: 50%;
}
.got p {
  margin-left: 100px;
  color: white;
}

.vehicle {
  margin-top: 100px;
}
.vehicle h3 {
  margin-left: 400px;
  color: white;
}

.horizon {
  border-left:3px solid white;
  height: 100px;
  margin-top: 120px;
  margin-left: 10px;
}
.pole img {
  margin-left: 90px;
  margin-top: 100px;
}

.pole {
  width: 50%;
  background-color: #E4572E;
  height: 300px;
}

.vl {
  margin-top: 140px;
  margin-left: 35px;
}

.three p {
  margin-left: 200px;
  color: white;
}

.three h3 {
  margin-left: 200px;
  margin-top: -60px;
  color: white;
}

.wrapper img {
  width: 50%;
}
.vert {
  border-left: 3px solid white;
  height: 100px;
  position: relative;
  left:190px; top:90px;
}

.three {
  display: flex;
  width: 100%;
}
@media screen and (max-width:1024px){
  .three{
    width: 1500px;
    font-size: 20px;
  }
  .nine img{
    width: 300px;
  }
}
.nine img {
  width: 718px;
  height: 300px;
}

#btn-1 {
  border: 10px solid white;
  height: 40px;
  width: 150px;
  margin-top: 30px;
}
.output {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  color: white;
  background-color: #E4572E;
  width: 45%;
  margin-top: 80px;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.output p {
  margin-top: 20px;
}
.output h3 {
  margin-bottom: 0;
  margin-top: 20px;
}

.link {
  text-align: center;
  padding-top: 130px;
  color: white;
}



#section-four {
<<<<<<< HEAD
  background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/site.jpg);
=======
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/site.jpg);
>>>>>>> b474e76cb034c01fc7991b218bb0fccd037ebba0
  height:600px;
  background-size: cover;
  background-position: center;
  margin-top: -5px;
}
@media screen and (max-width:1024px){
  #section-four{
    width: 1500px;
    font-size: 20px;
  }
}
#section-five {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media all screen and (max-width: 1024px){
  #section-five{
    width: 1500px;
    font-size: 20px;
  }
}
.line {
  width: 80%;
  height: 2px;
  background-color:white;
  margin-top: 30px;
  margin-left: -400px;
}

.laptop {
   width: 50%;
   /* position: relative;
   bottom:19px; */
}

.tower{
  display: flex;
}
.truck {
    display: flex;
}
.B {
  margin-left: 30px;
}
.text {
  width: 50%;
  margin-top: 100px;
  margin-right: 20px;
}
@media screen and (max-width:1024px){
  .text{
    width: 1500px;
    margin-left: 200px;
  }
}
.text h3 {
  font-size: 10px;
  margin-left: 20px;
}
.text h2 {
  font-size: 35px;
  /* position: relative;
  top:20px; */
}
.text p {
  margin-left: 20px;
  /* position: relative;
  top:30px; */
}
.text h4 {
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: lighter;
}
.row-1 h5 {
  position: relative;
  top:20px;
  margin-left: 40px;
}
.row-1 h6 {
  position: relative;
  top:30px;
  font-size: 13px;
  margin-left: 40px;
}
.row-1 h4 {
  position: relative;
  top: 50px;
  font-size: 13px;
  margin-left: 40px;
}
.row-1 h3 {
  position: relative;
  top:35px;
  margin-left: 40px;
}
.row-1 p {
  position: relative;
  top:40px;
  margin-left: 40px;
}
.row-1 img {
  position: relative;
  top:40px;
  margin-left: 40px;
}
@media screen and (max-width:1024px){
  #section-six{
    width: 1500px;
  }
}
.row-1 {
  color: white;
}
.row-1 h7 {
  margin-left: 40px;
}
.computer {
  display: flex;
  background-color: #E4572E;
  position: relative;
  bottom:20px;
}
.row-3 {
  margin-left: 90px;
  color: white;
}
.row-2 {
  margin-left: 70px;
  color: white;
  background-color: #D35400;
}
.row-2 h3 {
  margin-left: 100px;
  position: relative;
  top:30px;
}
.row-2 p {
  position: relative;
  top:30px;
}
.row-3 h5 {
  position: relative;
  left:180px; bottom:50px;
  font-family: 'Dancing Script', cursive;
}
.row-3 h4 {
  position: relative;
  left:180px; bottom:30px
}
.row-3 h3 {
  position: relative;
  left:110px; top:30px;
}
.row-3 p {
  position: relative;
  top:40px; left:80px;
  font-family: 'Dancing Script', cursive;
}
.row-3 p {
  background-color: rgba(255, 255, 255, 0.1);
  height: 50%;
}
.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  top:120%; right:50%;
}
.dot::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  right:120%;
}

.me {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  top:85%; right:16%;
}
.me::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  right:120%;
}

footer h6 {
  text-align: center;
  background-color: black;
  color: white;
  border: 10px solid black;
  position: relative;
  bottom:45px;
}
@media screen and (max-width:1024px){
  footer{
    width: 1500px;
  }
}
.birds {
  display: flex;
  position: relative;
  top:50px;
}

.window {
  background-color: white;
  height: 50px;
  width: 60px;
  position: relative;
  left:80px;
}
.window img {
  margin-left: 10px;
}
.window h4 {
  color:black;
  position: relative;
  bottom:20px; left:5px;
  font-size: 13px;
}
.bad {
 background-color: white;
  position: relative;
  left: 90px;
  height:50px;
  width: 60px;
}
.bad img{
  position: relative;
  left:15px;
}
.bad h4 {
  color:black;
  position: relative;
  bottom:30px; left:15px;
}
.svgs{
  position: relative;
  left:100px;
  background-color: white;
  height: 50px;
  width: 60px;
}
.svgs h4 {
  position: relative;
  bottom:20px; left:3px;
  font-size: 13px;
  color:black;
}
.svgs svg {
  position: relative;
  top:3px; left:10px;
}
.paragraph img {
  width: 200px;
}
